<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CosmeCure</title>
    <link rel="stylesheet" href="../../static/css/home/home.css">
</head>
<body>
    
    <div class="main">
        <div class="nav-bar">
            <div class="part-1">
                <h3>Home</h3>
                <h3>Products</h3>
                <h3>About</h3>
                <h3>Contact</h3>
            </div>
            <div class="part-2">
                <button class="btn Log-btn">Log In</button>
                <button class="btn sign-btn">Sign Up</button>
            </div>
        </div>
        <div class="line"></div>

        <div class="hero-sec">
            <div class="left-part">
                <div class="text">
                    <h1>The He<span>alth</span></h1>
                    <h2>of Yo<span>ur</span></h2>
                    
                </div>
            </div>
            <div class="right-part">
                <h1>Skin</h1>
                    <img src="../../static/images/home/girl img.png" alt="">
            </div>


        </div>

        <div class="info-part">
            <div class="info-left-part">
                <div class="img-1">
                    <img src="../../static/images/home/pimple img.png" alt="">
                </div>
                <div class="img-1">
                    <img src="../../static/images/home/oily skin.png" alt="">
                </div>
            </div>
            <div class="info-right-part">
                <div class="info-sec">
                    <div class="info info-1">
                        <h1>Careful Production</h1>
                        <p>We Never Test Products On Animals & Insects</p>
                    </div>
                    <div class="info info-2">
                        <h1>Safe Decorative Cosmetics</h1>
                        <p>In Cosmetics, We Use Dyes Of Vegetables & Origin</p>
                    </div>
                    <div class="info info-3">
                        <h1>A Product That Suits You</h1>
                        <p>Product That Actually Help To clear & Glowing Skin</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sections">
            <div class="cosmetic">
                    <div class="img-sec">
                        <img src="../../static/images/home/cosmetic img.jpg" alt="">
                    </div>
                    <h1>Cometics Related</h1>
                    <div class="cosmetic-info">
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Suggest A Cosmetic product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Get Effective Result's</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Suggest A Cosmetic product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Get Effective Result's</p>
                    </div>

                    <button class="know-btn">Know More <span><img src="../../static/images/home/up-right-arrow.png" alt=""></span></button>
            </div>
            <div class="skin-care">
                      <div class="img-sec">
                        <img src="../../static/images/home/skin-care img.webp" alt="">
                    </div>
                    <h1>Skin-Care Related</h1>
                    <div class="cosmetic-info">
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Suggest A Skin-Problem related product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Get Effective Result's</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Suggest A Skin-Problem related product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Get Effective Result's</p>
                    </div>

                    <button class="know-btn">Know More <span><img src="../../static/images/home/up-right-arrow.png" alt=""></span></button>
            </div>
        </div>

         <div class="product-sec"></div>

        <div class="footer">
            <div class="left-footer">
                <div class="footer-logo">
                   <img src="../../static/images/home/logo.png" alt="">
                </div>
                <div class="logo-tag">
                    <a href="#"><img src="../../static/images/home/instagram.png" alt=""></a>
                    <a href="#"><img src="../../static/images/home/linkedin.png" alt=""></a>
                    <a href="#"><img src="../../static/images/home/twitter.png" alt=""></a>
                </div>
            </div>
            <div class="right-footer">
                <div class="about-contact">
                    <div class="company">
                        <h2>Company</h2>
                        <a href="#">About-Us <br></a>
                        <a href="#">Support <br></a>
                        <a href="#">Privecy Policy <br></a>
                        <a href="#">Terms & Condition <br></a>
                    </div>
                    <div class="Get-In-Touch">
                        <h2>Get-In-Touch</h2>
                        <a href="#">+91-643781289 <br></a>
                        <a href="#">+91-6516316231631 <br></a>
                        <a href="#">@CosmeCure.gmail.com <br></a>
                    </div>
                    <div class="Team">
                        <h2>Team</h2>
                            <a href="#">•Dimple Ghormode (Ghoda):- Leader <br></a>
                            <a href="#">•Mahim (Datri) :- Co-Leader <br></a>
                            <a href="#">•Nomesh Shahare :- Founder <br></a>
                            <a href="#">•Shrilesh Dhobale :- co-Founder<br></a>
                            <a href="#">•Ayush .R. Choudhari :- Ceo Of Company <br></a>
                            <a href="#">•Piyush Ujgaokar :- Employee <br></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="script.js"></script>
</body>
</html>
