<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CosmeCure</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    
    <div class="main">
        <div class="nav-bar">
            <div class="part-1">
                <h3>Home</h3>
                <h3>Products</h3>
                <h3>About</h3>
                <h3>Contact</h3>
            </div>
            <div class="part-2">
                <button class="btn Log-btn">Log In</button>
                <button class="btn sign-btn">Sign Up</button>
            </div>
        </div>
        <div class="line"></div>

        <div class="hero-sec">
            <div class="left-part">
                <div class="text">
                    <h1>The He<span>alth</span></h1>
                    <h2>of Yo<span>ur</span></h2>
                    
                </div>
            </div>
            <div class="right-part">
                <h1>Skin</h1>
                    <img src="./images/girl img.png" alt="">
            </div>


        </div>