
        <!-- <div class="line"></div> -->
{% extends 'base.html' %}
{% block content %}
        <div class="hero-sec">
            <div class="left-part">
                <div class="text">
                    <h1>The He<span>alth</span></h1>
                    <h2>of Yo<span>ur</span></h2>
                    
                </div>
            </div>
            <div class="right-part">
                <h1>Skin</h1>
                    <img src="../../static/images/home/girl img.png" alt="">
            </div>


        </div>

        <div class="info-part">
            <div class="info-left-part">
                <div class="img-1">
                    <img src="../../static/images/home/pimple img.png" alt="">
                </div>
                <div class="img-1">
                    <img src="../../static/images/home/oily skin.png" alt="">
                </div>
            </div>
            <div class="info-right-part">
                <div class="info-sec">
                    <div class="info info-1">
                        <h1>Careful Production</h1>
                        <p>We Never Test Products On Animals & Insects</p>
                    </div>
                    <div class="info info-2">
                        <h1>Safe Decorative Cosmetics</h1>
                        <p>In Cosmetics, We Use Dyes Of Vegetables & Origin</p>
                    </div>
                    <div class="info info-3">
                        <h1>A Product That Suits You</h1>
                        <p>Product That Actually Help To clear & Glowing Skin</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="sections">
            <div class="cosmetic">
                    <div class="img-sec">
                        <img src="../../static/images/home/cosmetic img.jpg" alt="">
                    </div>
                    <h1>Cometics Related</h1>
                    <div class="cosmetic-info">
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Suggest A Cosmetic product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Get Effective Result's</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Suggest A Cosmetic product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Get Effective Result's</p>
                    </div>
                    <button class="know-btn">Know More <span><img src="../../static/images/home/up-right-arrow.png" alt=""></span></button>
            </div>
            <div class="skin-care">
                      <div class="img-sec">
                        <img src="../../static/images/home/skin-care img.webp " alt="">
                    </div>
                    <h1>Skin-Care Related</h1>
                    <div class="cosmetic-info">
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Suggest A Skin-Problem related product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Get Effective Result's</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Suggest A Skin-Problem related product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Get Effective Result's</p>
                    </div>

                    <button class="know-btn">Know More <span><img src="../../static/images/home/up-right-arrow.png" alt=""></span></button>
            </div>
        </div>

         <div class="product-sec">  
            <section class="products">

    <div class="card">
      <img src="../../static/images/skincare/facewash/product-1.webp" alt="Facewash">
      <h3>Herbal Facewash</h3>
      <p>Infused with natural herbs for clear skin.</p>
      <span class="price">₹299</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>
    <div class="card">
      <img src="../../static/images/skincare/facewash/product-3.webp" alt="Facewash">
      <h3>Aloe Vera Facewash</h3>
      <p>Soothes & hydrates your skin deeply.</p>
      <span class="price">₹249</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>
    <div class="card">
      <img src="../../static/images/skincare/facewash/product-2.jpg" alt="Facewash">
      <h3>Charcoal Facewash</h3>
      <p>Removes dirt, oil & unclogs pores.</p>
      <span class="price">₹299</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>
    <div class="card ">
      <img src="../../static/images/skincare/facewash/product-5.jpg" alt="Facewash">
      <h3>Vitamin C Facewash</h3>
      <p>Brightens skin for a glowing look.</p>
      <span class="price">₹349</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>


    <div class="card">
        <img src="../../static/images/skincare/facewash/product-1.webp" alt="Ubtan Facewash">
        <h3>Ubtan Facewash</h3>
        <p>Brightens and exfoliates skin</p>
        <span class="price">₹299</span>
        <button class="btn"><a href="../login & signup/login.html">Click Here</a></button></a>
      </div>
      <div class="card">
        <img src="../../static/images/skincare/moisturizer/product-1.jpg" alt="Hydrating Moisturizer">
        <h3>Hydrating Moisturizer</h3>
        <p>Soft & smooth skin all day</p>
        <span class="price">₹499</span>
        <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
      </div>
      <div class="card">
        <img src="../../static/images/skincare/sunscreen/product-1.webp" alt="SPF 50 Sunscreen">
        <h3>SPF 50 Sunscreen</h3>
        <p>Strong UV protection</p>
        <span class="price">₹599</span>
        <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
      </div>
      <div class="card">
        <img src="../../static/images/skincare/facewash/product-2.jpg" alt="Charcoal Facewash">
        <h3>Charcoal Facewash</h3>
        <p>Deep cleans dirt & oil</p>
        <span class="price">₹325</span>
        <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
      </div>


       <div class="card">
      <img src="../../static/images/skincare/sunscreen/product-1.webp" alt="Sunscreen">
      <h3>SPF 50 Sunscreen</h3>
      <p>High protection for outdoor use.</p>
      <span class="price">₹399</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>

    <div class="card">
      <img src="../../static/images/skincare/sunscreen/product-3.jpg" alt="Sunscreen">
      <h3>Matte Finish Sunscreen</h3>
      <p>Controls oil & gives a smooth finish.</p>
      <span class="price">₹349</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>

    <div class="card ">
      <img src="../../static/images/skincare/sunscreen/product-4.webp" alt="Sunscreen">
      <h3>Aloe Vera Sunscreen</h3>
      <p>Soothes skin with natural hydration.</p>
      <span class="price">₹279</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>

    <div class="card">
      <img src="../../static/images/skincare/sunscreen/product-5.webp" alt="Sunscreen">
      <h3>Ubtan Turmeric Sunscreen</h3>
      <p>Provides Barrier Against Sun Damage,Delays Skin Ageing,Treats Acne & Blemishes.</p>
      <span class="price">₹519</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>

            </section>
        </div>

        

<script src=""></script>
</body>
</html>
{% endblock %}