body {
  font-family: Arial, sans-serif;
  background: #ECE1CE;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.quiz-container {
  background: #fff;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;

}

.question {
  display: none;
  font-size: 20px;
}
