<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Normal Skin - Facewash</title>
    <link rel="stylesheet" href="../../static/css/skincare/normal-facewash.css">
</head>
<body>

    <nav class="navbar">
    <ul>
       <li><a href="../normal facewash.html">Facewash</a></li>
      <li><a href="../normal sunscreen.html">Sunscreen</a></li>
      <li><a href="../normal moisturizer.html">Moisturizer</a></li>
    </ul>
  </nav>
  <header>
    <h1>🌿 Normal Skin – Facewash Collection</h1>
    <p>Gentle facewashes specially for normal skin</p>
  </header>


  <section class="controls">
    <div>
      <button class="filter-btn active" data-category="all" color="#723b11ff">All</button>
      <button class="filter-btn" data-category="hydrating">Hydrating</button>
      <button class="filter-btn" data-category="organic">Organic</button>
      <button class="filter-btn" data-category="charcoal">Charcoal</button>
      <button class="filter-btn" data-category="herbal">Herbal</button>
    </div>

 <div class="search-sort-container">
    <input type="text" id="searchBar" placeholder="Search products by name...">
    <select id="sortOptions">
      <option value="default">Sort By</option>
      <option value="az">Name: A → Z</option>
      <option value="za">Name: Z → A</option>
      <option value="low-high">Price: Low → High</option>
      <option value="high-low">Price: High → Low</option>
    </select>
  </div>

  <main>
  <div class="product-grid">
    <div class="product-card" data-category="hydrating" data-price="350">
      <img src="../../static/images/skincare/facewash/product-14.webp" alt="Hydrating Facewash">
      <h3>Hydrating Facewash</h3>
      <p>Category: Hydrating</p>
      <p class="price">₹350</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn ">Buy Now</button>
      </div>
    </div>

    <div class="product-card" data-category="organic" data-price="450">
      <img src="../../static/images/skincare/facewash/product-9.avif" alt="Organic Facewash">
      <h3>Organic Aloe Facewash</h3>
      <p>Category: Organic</p>
      <p class="price">₹450</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>

    <div class="product-card" data-category="charcoal" data-price="300">
      <img src="../../static/images/skincare/facewash/product-15.jpg" alt="Charcoal Facewash">
      <h3>Charcoal Deep Clean</h3>
      <p>Category: Charcoal</p>
      <p class="price">₹300</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>

    <div class="product-card" data-category="herbal" data-price="294">
      <img src="../../static/images/skincare/facewash/product-3.webp" alt="Herbal Facewash">
      <h3>Herbal Neem Facewash</h3>
      <p>Category: Herbal</p>
      <p class="price">₹294</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>

    <div class="product-card" data-category="hydrating" data-price="400">
      <img src="../../static/images/skincare/facewash/product-7.jpg" alt="Vitamin C Facewash">
      <h3>Vitamin C Facewash</h3>
      <p>Category: Hydrating</p>
      <p class="price">₹345</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>
    <div class="product-card" data-category="organic" data-price="400">
      <img src="../../static/images/skincare/facewash/product-16.webp" alt="Refreshing Face Wash ">
      <h3>Refreshing Face Wash</h3>
      <p>Category: Organic</p>
      <p class="price">₹378</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>
     <div class="product-card" data-category="hydrating" data-price="400">
      <img src="../../static/images/skincare/facewash/product-17.webp" alt="Refreshing Face Wash ">
      <h3> Nivea Refreshing Face Wash</h3>
      <p>Category: Hydrating</p>
      <p class="price">₹420</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>

  </div>
  
</main>
    <script src="../../static/js/skincare/normal-facewash.js"></script>
   </body>
   </html>