{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sunscreen </title>
  <link rel="stylesheet" href="{% static 'css/sunscreen.css' %}">
</head>
<body>

  <section class="hero">
    <h1>Sunscreen ☀️</h1>
    <p>Protect your skin from harmful UV rays.</p>
  </section>

  <section class="products" id="sunscreen-products">
    <div class="card">
      <img src="{% static 'dermacart/images/skincare/sunscreen/product.jpg' %}" alt="Sunscreen">
      <h3>SPF 30 Sunscreen</h3>
      <p>Lightweight daily sun protection.</p>
      <span class="price">₹299</span>
      <button class="btn">Click Here</button>
    </div>

    <div class="card">
      <img src="{% static 'pictures/images/sunscreen/product-2.jpg' %}" alt="Sunscreen">
      <h3>SPF 50 Sunscreen</h3>
      <p>High protection for outdoor use.</p>
      <span class="price">₹399</span>
      <button class="btn">Click Here</button>
    </div>

    <div class="card">
      <img src="{% static 'pictures/images/sunscreen/product-3.webp' %}" alt="Sunscreen">
      <h3>Matte Finish Sunscreen</h3>
      <p>Controls oil & gives a smooth finish.</p>
      <span class="price">₹349</span>
      <button class="btn">Click Here</button>
    </div>

    <div class="card hidden">
      <img src="{% static 'pictures/images/sunscreen/product-4.jpg' %}" alt="Sunscreen">
      <h3>Aloe Vera Sunscreen</h3>
      <p>Soothes skin with natural hydration.</p>
      <span class="price">₹279</span>
      <button class="btn">Click Here</button>
    </div>

    <div class="card hidden">
      <img src="{% static 'pictures/images/sunscreen/product-5.jpg' %}" alt="Sunscreen">
      <h3>Ubtan Turmeric Sunscreen</h3>
      <p>Provides Barrier Against Sun Damage,Delays Skin Ageing,Treats Acne & Blemishes.</p>
      <span class="price">₹519</span>
      <button class="btn">Click Here</button>
    </div>

    <div class="card hidden">
      <img src="{% static 'pictures/images/sunscreen/product-6.jpg' %}" alt="Sunscreen">
      <h3>Waterproof Sunscreen</h3>
      <p>Long-lasting protection even in water.</p>
      <span class="price">₹459</span>
      <button class="btn">Click Here</button>
    </div>
  </section>

  <div class="toggle-container">
    <button id="sunscreen-toggle" class="toggle-btn">View All Sunscreens</button>
  </div>
  <script src="{% static 'js/sunscreen.js' %}"></script>
</body>
</html>
