<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="quiz-container">
        
        <h1>Know Your skin Type</h1>


        <div class="question active" data-question="q1">
            <p>1. How does your skin feel a few hours after washing your face?</p>
            <label class="option">
                <input type="radio" name="q1" value="oily">
                <img src="oily.jpg" alt="Oily"> Greasy/Shiny
            </label>
            <label class="option">
                <input type="radio" name="q1" value="dry">
                <img src="dry.jpg" alt="Dry"> Tight/Dry
            </label>
            <label class="option">
                <input type="radio" name="q1" value="normal">
                <img src="normal.jpg" alt="Normal"> Comfortable/Soft
            </label>
            <label class="option">
                <input type="radio" name="q1" value="combination">
                <img src="combination.jpg" alt="Combination"> Oily in some areas, dry in others
            </label>
        </div>
    </div>
</body>

</html>