{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login & signup/login.css' %}">
</head>

  <body>
    <div class="container">
      <div class="logo-sec">
        <img src="{% static 'images/login image/logo.png' %}" alt="Login Logo">
      </div>
      <h2 id="formTitle">Login</h2>

      {% if form.errors %}
        <div style="color: red;">
            <p>{{ form.non_field_errors }}</p>
        </div>
      {% endif %}

      <form id="authForm" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Email" id="email" required>
        <input type="password" name="password" placeholder="Enter Password" id="password" required>
        <button type="submit" id="submitBtn">Login</button>
      </form>
      <p>
        <span id="toggleText">Don't have an account?</span>
        <a href="{% url 'signup' %}">Sign up</a>
      </p>
    </div>
  </body>
</html>
