<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_facewash/oily-facewash 1.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Oil Control Fash Wash</h1>
      <p class="company"><span>Company:-</span> Dr. Battra's</p>
      <p class="description">
        <span class="des">Description:- </span>
Dr. Batra's Oil Control Face Wash is specially formulated by homeopathic experts to effectively manage oily and shiny skin. It is enriched with Green Tea extracts, a powerful antioxidant that helps soothe the skin while regulating excess sebum production. The formula also contains Barosma Betulina leaf extracts, which work to refine pores and provide a long-lasting matte finish. This gentle, soap-free cleanser deeply removes dirt and impurities without stripping away essential moisture, keeping your skin balanced. Regular use helps prevent acne breakouts, leaving your face feeling fresh, clean, and visibly shine-free.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_facewash/oily-facewash 1.webp" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
