<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_facewash/oily-facewash 4.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>anti-Pollution fash wash</h1>
      <p class="company"><span>Company:-</span>Everyouth Naturals</p>
      <p class="description">
        <span class="des">Description:- </span>
Everyuth Naturals Anti-Pollution Face Wash is specially crafted to combat the harsh effects of city pollution on your skin. Enriched with the detoxifying power of Activated Charcoal, it acts like a magnet to draw out deep-seated dirt, toxins, and impurities. The formula is also infused with Pink Clay, which gently absorbs excess oil and grime while soothing the skin. This powerful combination works to deep cleanse clogged pores, effectively removing invisible pollution particles that dull your complexion. Regular use leaves your skin feeling instantly refreshed, purified, and visibly glowing.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_facewash/oily-facewash 4.jpg" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
