<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_facewash/oily-facewash 8.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Pore cleansing fash wash</h1>
      <p class="company"><span>Company:-</span>Palm</p>
      <p class="description">
        <span class="des">Description:- </span>
Plum Green Tea Pore Cleansing Face Wash is a widely loved, soap-free cleanser specifically designed for oily, combination, and acne-prone skin. It is power-packed with antioxidant-rich Green Tea extracts that fight acne-causing bacteria and control excess oil production. The formula features effective Glycolic Acid (AHA) that gently exfoliates dead skin cells and deeply unclogs pores to prevent blackheads and whiteheads. It also contains soft, natural cellulose beads that provide a mild scrubbing action to remove deep-seated dirt without irritating active acne. 100% vegan and free from harsh chemicals like SLS, it leaves your skin feeling refreshed, clear, and pleasantly matte.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_facewash/oily-facewash 8.jpg" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
