
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.image-slider {
    width: 100%;
     height: 65vh; 
    overflow: hidden; 
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-track {
    width: 300%; 
    height: 100%;
    display: flex; 
    animation: slide-show 15s infinite ease-in-out;
}

.slide {
    width: 33.333%; 
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide-show {
    0%, 30% {
        transform: translateX(0);
    }
    35%, 65% {
        transform: translateX(-33.333%);
    }
   
    70%, 100% {
        transform: translateX(-66.666%); 
    }
}

.navbar {
    background-color: #fff;
    padding: 30px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo h1 {
    color: #3d2513; 
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li a {
    font-size: 25px;
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #cab590;
    color: #3d2513;
}

.controls input[type="text"], .controls select {
    padding: 8px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


main {
    padding: 20px;
}

.glam-heading {
    text-align: center;
    color: #785539;
    margin-bottom: 30px;
    font-size: 2em;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
    margin: 30px 10px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
    max-height: 160px; 
    object-fit: cover;
}

.product-card h3 {
    color: #333;
    font-size: 1.1em;
    margin: 5px 0;
}

.product-card p {
    color: #785539;
    font-weight: bold;
    margin-top: 10px;
}

.product-card button {
    background-color: #785539;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
    flex-grow: 1;
}

.product-card button:hover {
    background-color: #785539;
}