<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_Moisturiser/product 1.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Oil Free Moisturizer</h1>
      <p class="company"><span>Company:-</span>Dot & Key Skincare</p>
      <p class="description">
        <span class="des">Description:- </span>
Dot & Key CICA Oil-Free Moisturizer is an ultra-lightweight gel specifically formulated for oily, sensitive, and acne-prone skin. It is powered by super-ingredient Cica (Centella Asiatica), known for its ability to instantly soothe redness, calm inflammation, and heal active acne. The formula is boosted with Niacinamide, which actively works to fade dark spots, minimize appearance of pores, and regulate excess sebum. This quick-absorbing, non-comedogenic gel provides necessary hydration without clogging pores or leaving any greasy residue. Regular use ensures a clear, balanced, and comfortably matte complexion.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_Moisturiser/product 1.webp" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
