
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_Moisturiser/product-10.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Alovera neem tulsi</h1>
      <p class="company"><span>Company:-</span>Globus Naturals</p>
      <p class="description">
        <span class="des">Description:- </span>
Globus Naturals Aloe Vera Neem Tulsi Face Wash, enriched with glycerine, is designed for acne and oil control. This face wash combines the natural benefits of aloe vera and neem tulsi to purify and nourish your skin. With a 75-gram package, it offers a gentle yet effective cleansing experience, leaving your skin feeling fresh and revitalized.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_Moisturiser/product-10.jpg" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>

     