
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_Moisturiser//product-8.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Hydra gel moisturizer</h1>
      <p class="company"><span>Company:-</span>Illuminate</p>
      <p class="description">
        <span class="des">Description:- </span>
This is Illuminate's Hydra Glow Moisturizer. It's a lightweight, hydrating cream formulated to nourish and revitalize your skin. Enriched with natural extracts, it imparts a healthy glow without feeling greasy. Ideal for daily use, it helps maintain smooth and supple skin. Perfect for those seeking a radiant complexion.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_Moisturiser/product-8.webp" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>

     