
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_Moisturiser/product-7.avif" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Oil Free Face Moisturizer</h1>
      <p class="company"><span>Company:-</span>mamaEarth</p>
      <p class="description">
        <span class="des">Description:- </span>
This product is Mamaearth's Oil-Free Face Moisturizer, ideal for acne-prone skin. It's formulated with apple cider vinegar to balance skin pH and control oil. The lightweight formula provides hydration without clogging pores. It helps in reducing acne and leaves skin feeling fresh. A great addition to your skincare routine.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_Moisturiser/product-7.avif" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>

     