
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_Moisturiser/product-5.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Mattifying gel Moisturizer</h1>
      <p class="company"><span>Company:-</span>Skin Inspired</p>
      <p class="description">
        <span class="des">Description:- </span>
This Skininspired Mattifying Gel Moisturizer is perfect for oily, combination, and sensitive skin types. The lightweight formula provides smooth hydration without a greasy residue. It's designed to control shine and maintain a matte finish throughout the day. Infused with beneficial ingredients to soothe and nourish the skin, it's a great addition to your skincare routine. Packaged in a sleek container, it's both functional and stylish.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_Moisturiser/product-5.jpg" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>

     