
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_Moisturiser/product-4.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Oil Free Daily Face Moisturizer</h1>
      <p class="company"><span>Company:-</span>The Derma</p>
      <p class="description">
        <span class="des">Description:- </span>
This product, Derma's Oil-Free Daily Face Moisturizer, is designed for non-greasy and hydrated skin. It's packed with hyaluronic acid, ceramides, and multivitamins, providing a boost of nourishment. Aimed at maintaining a balanced complexion, it's suitable for daily use. Perfect for those seeking hydration without the shine. Give your skin the care it deserves!
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_Moisturiser/product-4.jpg" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>

     