<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../static/images/skincare/sunscreen/product-4.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Tinted Sunscreen Stick</h1>
      <p class="company"><span>Company:-</span> Blk</p>
      <p class="description">
        <span class="des">Description:- </span>
        The blk Tinted Sunscreen Stick is a multi-tasking daily moisturizer 
        that provides SPF 50 PA++ broad-spectrum protection in a convenient stick format. 
        Infused with hydrating Squalane and Camellia Extract, 
        it offers a sheer tint to even out skin tone while delivering a shine-free matte finish.
        Its sweat and water-resistant formula makes it an excellent choice for 
        staying protected and non-greasy in the hot and humid climate of Nagpur.
      </p>


      <div class="small-images">
        <div><img src="../../static/images/skincare/sunscreen/product-4.webp" alt="Small 1"></div>
        <div><img src="../../static/images/skincare/sunscreen/blk-2.webp" alt="Small 2"></div>
        <div><img src="../../static/images/skincare/sunscreen/blk-1.webp" alt="Small 3"></div>
        <div><img src="../../static/images/skincare/sunscreen/blk-3.webp" alt="Small 4"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
