<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/moisturizer/product-2.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Daily Moisturizing Cream</h1>
      <p class="company"><span>Company:-</span> Blue Nectar</p>
      <p class="description">
        <span class="des">Description:- </span>
        Blue Nectar's Shubhr Vitamin E is a daily moisturizing cream based
        on contemporary Ayurvedic principles. Featuring a unique "14 Herb Quotient," 
        this moisturizer is specifically formulated to provide both anti-aging benefits and deep 
        nourishment to the skin. It aims to leave the skin feeling hydrated, smooth, 
        and revitalized with a blend of traditional herbs.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/moisturizer/product-2.webp" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/moisturizer/blue nectar-1.jpg" alt="Small 2"></div>
        <div><img src="../../../static/images/skincare/moisturizer/blue nectar-2.webp" alt="Small 3"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
