<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../static/images/skincare/sunscreen/product-10.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Neem sunscreen</h1>
      <p class="company"><span>Company:-</span> Nimbarkar</p>
      <p class="description">
        <span class="des">Description:- </span>
        Nimbarka's Neem Sun Screen is a protective daily moisturizer that 
        harnesses the purifying properties of Neem, making it suitable for all skin types.
        It provides broad-spectrum SPF 30 PA++ protection with a non-greasy and 
        water-resistant formula. This dermatologist-tested cream is ideal 
        for keeping skin feeling fresh, clear, and shielded from the
        sun in the hot climate of Nagpur.
      </p>


      <div class="small-images">
        <div><img src="../../static/images/skincare/sunscreen/product-10.webp" alt="Small 1"></div>
        <div><img src="../../static/images/skincare/sunscreen/nimbar-1.jpg" alt="Small 2"></div>
        <div><img src="../../static/images/skincare/sunscreen/nimbar-2.jpg" alt="Small 3"></div>
        <div><img src="../../static/images/skincare/sunscreen/nimbar-3.jpg" alt="Small 4"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
