<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/moisturizer/product-4.avif" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Shea Butter Lactic Acid</h1>
      <p class="company"><span>Company:-</span> Wow Skin Science</p>
      <p class="description">
        <span class="des">Description:- </span>
        WOW Skin Science's Shea Butter & Lactic Acid Body Lotion is an 
        intensely hydrating formula created for dry to very dry skin. 
        It uniquely blends the rich nourishment of shea butter with the gentle
        exfoliating and moisture-binding properties of lactic acid. 
        This lotion is engineered to provide over 48 hours of deep moisturization, 
        leaving the skin feeling smooth, soft, and supple.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/moisturizer/product-4.avif" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/moisturizer/wow skin-1.jpg" alt="Small 2"></div>
        <div><img src="../../../static/images/skincare/moisturizer/wow skin-2.webp" alt="Small 3"></div>
        <div><img src="../../../static/images/skincare/moisturizer/wow skin-3.webp" alt="Small 4"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
