<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/sunscreen/product-3.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Hyaluronic Long Lasting Sunscreen</h1>
      <p class="company"><span>Company:-</span> Derma co</p>
      <p class="description">
        <span class="des">Description:- </span>
        The Derma Co's 1% Hyaluronic Long Lasting Sunscreen is a 
        dermatologist-designed protective moisturizer offering broad-spectrum SPF 50 PA++++. 
        It is formulated with 1% Hyaluronic Acid to provide intense hydration, 
        combating the dryness caused by sun exposure in Nagpur's climate. 
        With a water and sweat-resistant formula that claims to last for 6 hours,
        it ensures durable protection and moisture for your skin throughout the day.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/sunscreen/product-3.jpg" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/sunscreen/derma-1.jpg" alt="Small 2"></div>
        <div><img src="../../../static/images/skincare/sunscreen/derma-2.jpg" alt="Small 3"></div>
        <div><img src="../../../static/images/skincare/sunscreen/derma-3.jpg" alt="Small 4"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
