<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/sunscreen/product-5.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>SPF 50+ Tinted Sunscreen</h1>
      <p class="company"><span>Company:-</span> Fix Derma</p>
      <p class="description">
        <span class="des">Description:- </span>
        Fixderma's Shadow SPF 50+ is a dermatologist-tested tinted sunscreen 
        that doubles as a daily protective moisturizer. 
        Formulated with 1% Hyaluronic Acid, it provides essential hydration 
        while brightening and nourishing the skin. This multi-tasking product also
        works as a foundation base, offering even coverage and 
        high-level sun protection suitable for daily use in the strong Nagpur sun.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/sunscreen/product-5.webp" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/sunscreen/fix derma-1.jpg" alt="Small 2"></div>
        <div><img src="../../../static/images/skincare/sunscreen/fix derma-2.jpg" alt="Small 3"></div>
        <div><img src="../../../static/images/skincare/sunscreen/fix derma-3.jpg" alt="Small 4"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
