<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/sunscreen/product-7.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Squalane & VITAMIN E dewy-bright sunscreen</h1>
      <p class="company"><span>Company:-</span> Plum</p>
      <p class="description">
        <span class="des">Description:- </span>
        This Plum Squalane & Vitamin E Sunscreen is a 100% vegan 
        daily moisturizer designed to leave your skin with a dewy, bright finish. 
        It combines high-level SPF 50 PA+++ protection from new-generation UV filters 
        with the deep nourishment and hydration of Squalane and Vitamin E. 
        The formula protects the skin from sundamage while imparting a healthy, 
        radiant glow suitable for daily wear.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/sunscreen/product-7.webp" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/sunscreen/plum-1.jpg" alt="Small 2"></div>
        <div><img src="../../../static/images/skincare/sunscreen/plum-2.jpg" alt="Small 3"></div>
        <div><img src="../../../static/images/skincare/sunscreen/plum-3.jpg" alt="Small 4"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
