<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/sunscreen/product-9.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Ultra Matte Sheer Creme Gel</h1>
      <p class="company"><span>Company:-</span> SkinKraft</p>
      <p class="description">
        <span class="des">Description:- </span>
        SkinKraft's Ultra Matte Sheer Crème Gel is a protective daily 
        moisturizer specifically designed for normal to oily skin. 
        Its unique lightweight, crème-gel texture provides broad-spectrum 
        SPF 40 PA+++ protection while delivering a shine-free, ultra-matte finish. 
        Infused with Vitamin C, this is an ideal formula for staying non-greasy 
        and shielded from the sun in the hot and humid climate of Nagpur.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/sunscreen/product-9.webp" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/sunscreen/skinkraft-1.jpg" alt="Small 2"></div>
        <div><img src="../../../static/images/skincare/sunscreen/skinkraft-2.webp" alt="Small 3"></div>
        <div><img src="../../../static/images/skincare/sunscreen/skinkraft-3.webp" alt="Small 4"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
