<div class="footer">
            <div class="left-footer">
                <div class="footer-logo">
                   <img src="../../static/images/home/logo.png" alt="">
                </div>
                <div class="logo-tag">
                    <a href="#"><img src="./icons/instagram.png" alt=""></a>
                    <a href="#"><img src="./icons/linkedin.png" alt=""></a>
                    <a href="#"><img src="./icons/twitter.png" alt=""></a>
                </div>
            </div>
            <div class="right-footer">
                <div class="about-contact">
                    <div class="company">
                        <h2>Company</h2>
                        <a href="#">About-Us <br></a>
                        <a href="#">Support <br></a>
                        <a href="#">Privecy Policy <br></a>
                        <a href="#">Terms & Condition <br></a>
                    </div>
                    <div class="Get-In-Touch">
                        <h2>Get-In-Touch</h2>
                        <a href="#">+91-643781289 <br></a>
                        <a href="#">+91-6516316231631 <br></a>
                        <a href="#">@CosmeCure.gmail.com <br></a>
                    </div>
                    <div class="Team">
                        <h2>Team</h2>
                            <a href="#">•Dimple Ghormode :- Leader <br></a>
                            <a href="#">•Mahim :- Co-Leader <br></a>
                            <a href="#">•Nomesh Shahare :- Founder <br></a>
                            <a href="#">•Shrilesh Dhobale :- co-Founder<br></a>
                            <a href="#">•Ayush .R. Choudhari :- Ceo Of Company <br></a>
                            <a href="#">•Piyush Ujgaokar :- Employee <br></a>
                    </div>
                </div>
            </div>
        </div>
    </div>