{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CosmeCure</title>
    <link rel="stylesheet" href="../../static/css/home/home.css">
</head>
<body>
    
    <div class="main">
        <div class="nav-bar">
            <div class="logo-sec">
                <img src="../../static/images/home/logo_main.png" alt="">
            </div>
            <div class="part-1">
                <h3><a href="{% url 'home' %}">Home</a></h3>
                <h3>Products</h3>
                <h3><a href="{% url 'about' %}">About us</a></h3>
                <h3><a href="../aboutus/about.html">Contact us</a></h3>
            </div>
            <div class="part-2">
                <a class="btn Log-btn" href="../login & signup/login.html">Log In</a>
                <a class="btn sign-btn" href="../login & signup/signup.html">Sign Up</a>
            </div>
        </div>