
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_sunscreen/product-7.avif" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Aloe Vera sunscreen</h1>
      <p class="company"><span>Company:-</span>Biotique</p>
      <p class="description">
        <span class="des">Description:- </span>
The Biotique Sun Shield Aloe Vera is an ultra protective sunscreen lotion with SPF UVA and UVB protection. Infused with aloe vera, it nourishes and hydrates the skin while defending it against harmful sun rays. This lightweight formula is suitable for all skin types, ensuring a smooth and non-greasy finish. Regular use leaves the skin soft, protected, and radiant.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_sunscreen/product-7.avif" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>

     