
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_sunscreen/product-6.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Ultra Matte Lotion with SPF 50</h1>
      <p class="company"><span>Company:-</span>Lakme</p>
      <p class="description">
        <span class="des">Description:- </span>
This is Lakmé Sun Expert Ultra Matte Lotion with SPF 50 PA+++. It's formulated to protect skin from harmful UVA and UVB rays. The lotion offers a non-greasy, lightweight texture that's easily absorbed. It's suitable for all skin types and provides a matte finish. Ideal for daily use to prevent sun damage and maintain healthy skin.

      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_sunscreen/product-6.webp" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>

     