
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/Oily_sunscreen/product-9.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>SPF 30 Sunscreen</h1>
      <p class="company"><span>Company:-</span>Nutrinorm</p>
      <p class="description">
        <span class="des">Description:- </span>
The Nutrinorm SPF 30 Sunscreen Lotion is a dermatologically tested product offering broad-spectrum protection against UV rays. Infused with licorice, carrot, and basil, it nourishes and protects the skin. It's designed to resist sun damage, keeping the skin healthy and radiant. The lotion is lightweight and absorbs quickly, suitable for daily use on all skin types. Regular application helps maintain a youthful, protected complexion.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/Oily_sunscreen/product-9.jpg" alt="Small 1"></div>
       

      </div>
      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>

     