

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CosmeCure</title>
    <link rel="stylesheet" href="../../static/css/profile System/profileSystem.css">
</head>
<body>
    
    <div class="main">
        <div class="nav-bar">
            <div class="logo-sec">
                <img src="../../static/images/home/logo_main.png" alt="">
            </div>
            <div class="part-1">
                <h3>Home</h3>
                <h3>Products</h3>
                <h3><a href="../aboutus/about.html">About us</a></h3>
                <h3><a href="../aboutus/about.html">Contact us</a></h3>
            </div>
         <div class="part-2">
              <div class="profile">
                        <a href="./profileInformation.html"><img src="../../static/images/home/girl img.png" alt=""></a>
                 </div>
            </div>
        </div>
        <!-- <div class="line"></div> -->

        <div class="hero-sec">
            <div class="nav-bar-img">
               <div class="left-arrow">
                  <img src="../../static/images/profile system/left arrow.png" alt="">
               </div>
               <div class="right-arrow">
                   <img src="../../static/images/profile system/roght arrow.png" alt="">
               </div>
               <div class="images">
                <img class="img_1" src="../../static/images/profile system/img 3.webp" alt="">
                <img class="img_2" src="../../static/images/profile system/img 2.jpg" alt="">
                <img class="img_3" src="../../static/images/profile system/img 5.webp" alt="">
                <img class="img_4" src="../../static/images/profile system/img 4.jpg" alt="">
            </div>
           </div>
      

         </div>

        <div class="info-part">
            <div class="info-left-part">
                <div class="img-1">
                    <img src="../../static/images/home/pimple img.png" alt="">
                </div>
                <div class="img-1">
                    <img src="../../static/images/home/oily skin.png" alt="">
                </div>
            </div>
            <div class="info-right-part">
                <div class="info-sec">
                    <div class="info info-1">
                        <h1>Careful Production</h1>
                        <p>We Never Test Products On Animals & Insects</p>
                    </div>
                    <div class="info info-2">
                        <h1>Safe Decorative Cosmetics</h1>
                        <p>In Cosmetics, We Use Dyes Of Vegetables & Origin</p>
                    </div>
                    <div class="info info-3">
                        <h1>A Product That Suits You</h1>
                        <p>Product That Actually Help To clear & Glowing Skin</p>
                    </div>
                </div>
            </div>
        </div>

         <div class="product-sec">  
            <section class="products">

    <div class="card">
      <img src="../../static/images/skincare/facewash/product-1.webp" alt="Facewash">
      <h3>Herbal Facewash</h3>
      <p>Infused with natural herbs for clear skin.</p>
      <span class="price">₹299</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>
    <div class="card">
      <img src="../../static/images/skincare/facewash/product-3.webp" alt="Facewash">
      <h3>Aloe Vera Facewash</h3>
      <p>Soothes & hydrates your skin deeply.</p>
      <span class="price">₹249</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>
    <div class="card">
      <img src="../../static/images/skincare/facewash/product-2.jpg" alt="Facewash">
      <h3>Charcoal Facewash</h3>
      <p>Removes dirt, oil & unclogs pores.</p>
      <span class="price">₹299</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>
    <div class="card ">
      <img src="../../static/images/skincare/facewash/product-5.jpg" alt="Facewash">
      <h3>Vitamin C Facewash</h3>
      <p>Brightens skin for a glowing look.</p>
      <span class="price">₹349</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>


    <div class="card">
        <img src="../../static/images/skincare/facewash/product-1.webp" alt="Ubtan Facewash">
        <h3>Ubtan Facewash</h3>
        <p>Brightens and exfoliates skin</p>
        <span class="price">₹299</span>
        <button class="btn"><a href="../login & signup/login.html">Click Here</a></button></a>
      </div>
      <div class="card">
        <img src="../../static/images/skincare/moisturizer/product-1.jpg" alt="Hydrating Moisturizer">
        <h3>Hydrating Moisturizer</h3>
        <p>Soft & smooth skin all day</p>
        <span class="price">₹499</span>
        <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
      </div>
      <div class="card">
        <img src="../../static/images/skincare/sunscreen/product-1.webp" alt="SPF 50 Sunscreen">
        <h3>SPF 50 Sunscreen</h3>
        <p>Strong UV protection</p>
        <span class="price">₹599</span>
        <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
      </div>
      <div class="card">
        <img src="../../static/images/skincare/facewash/product-2.jpg" alt="Charcoal Facewash">
        <h3>Charcoal Facewash</h3>
        <p>Deep cleans dirt & oil</p>
        <span class="price">₹325</span>
        <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
      </div>


       <div class="card">
      <img src="../../static/images/skincare/sunscreen/product-1.webp" alt="Sunscreen">
      <h3>SPF 50 Sunscreen</h3>
      <p>High protection for outdoor use.</p>
      <span class="price">₹399</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>

    <div class="card">
      <img src="../../static/images/skincare/sunscreen/product-3.jpg" alt="Sunscreen">
      <h3>Matte Finish Sunscreen</h3>
      <p>Controls oil & gives a smooth finish.</p>
      <span class="price">₹349</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>

    <div class="card ">
      <img src="../../static/images/skincare/sunscreen/product-4.webp" alt="Sunscreen">
      <h3>Aloe Vera Sunscreen</h3>
      <p>Soothes skin with natural hydration.</p>
      <span class="price">₹279</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>

    <div class="card">
      <img src="../../static/images/skincare/sunscreen/product-5.webp" alt="Sunscreen">
      <h3>Ubtan Turmeric Sunscreen</h3>
      <p>Provides Barrier Against Sun Damage,Delays Skin Ageing,Treats Acne & Blemishes.</p>
      <span class="price">₹519</span>
      <button class="btn"><a href="../login & signup/login.html">Click Here</a></button>
    </div>

            </section>
        </div>

        <div class="footer">
            <div class="left-footer">
                <div class="footer-logo">
                   <img src="../../static/images/home/logo.png" alt="">
                </div>
                <div class="logo-tag">
                    <a href="#"><img src="./icons/instagram.png" alt=""></a>
                    <a href="#"><img src="./icons/linkedin.png" alt=""></a>
                    <a href="#"><img src="./icons/twitter.png" alt=""></a>
                </div>
            </div>
            <div class="right-footer">
                <div class="about-contact">
                    <div class="company">
                        <h2>Company</h2>
                        <a href="#">About-Us <br></a>
                        <a href="#">Support <br></a>
                        <a href="#">Privecy Policy <br></a>
                        <a href="#">Terms & Condition <br></a>
                    </div>
                    <div class="Get-In-Touch">
                        <h2>Get-In-Touch</h2>
                        <a href="#">+91-643781289 <br></a>
                        <a href="#">+91-6516316231631 <br></a>
                        <a href="#">@CosmeCure.gmail.com <br></a>
                    </div>
                    <div class="Team">
                        <h2>Team</h2>
                            <a href="#">•Dimple Ghormode :- Leader <br></a>
                            <a href="#">•Mahim :- Co-Leader <br></a>
                            <a href="#">•Nomesh Shahare :- Founder <br></a>
                            <a href="#">•Shrilesh Dhobale :- co-Founder<br></a>
                            <a href="#">•Ayush .R. Choudhari :- Ceo Of Company <br></a>
                            <a href="#">•Piyush Ujgaokar :- Employee <br></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="../../static/js/profile system/profileSystem.js"></script>
</body>
</html>
