

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CosmeCure</title>
    <link rel="stylesheet" href="../../static/css/profile System/profileSystem.css">
</head>
<body>
    
    <div class="main">
        <div class="nav-bar">
            <div class="logo-sec">
                <img src="../../static/images/home/logo_main.png" alt="">
            </div>
            <div class="part-1">
                <h3>Home</h3>
                <h3>Products</h3>
                <h3><a href="../aboutus/about.html">About us</a></h3>
                <h3><a href="../aboutus/about.html">Contact us</a></h3>
            </div>
         <div class="part-2">
            <div class="add-to-cart">
              <img src="../../static/images/profile system/cart.png" alt="">
            </div>
              <div class="profile">
                        <a href="./profileInformation.html"><img src="../../static/images/home/girl img.png" alt=""></a>
                        <a href="./profileInformation.html"><p>Profile</p></a>
                 </div>
            </div>
        </div>
        <!-- <div class="line"></div> -->

        <div class="hero-sec">
            <div class="nav-bar-img">
               <div class="left-arrow">
                  <img src="../../static/images/profile system/left arrow.png" alt="">
               </div>
               <div class="right-arrow">
                   <img src="../../static/images/profile system/roght arrow.png" alt="">
               </div>
               <div class="images">
                <img class="img_1" src="../../static/images/profile system/img 3.webp" alt="">
                <img class="img_2" src="../../static/images/profile system/img 2.jpg" alt="">
                <img class="img_3" src="../../static/images/profile system/img 5.webp" alt="">
                <img class="img_4" src="../../static/images/profile system/img 4.jpg" alt="">
            </div>
           </div>
      

         </div>

        <div class="info-part">
            <div class="info-left-part">
                <div class="img-1">
                    <img src="../../static/images/home/pimple img.png" alt="">
                </div>
                <div class="img-1">
                    <img src="../../static/images/home/oily skin.png" alt="">
                </div>
            </div>
            <div class="info-right-part">
                <div class="info-sec">
                    <div class="info info-1">
                        <h1>Careful Production</h1>
                        <p>We Never Test Products On Animals & Insects</p>
                    </div>
                    <div class="info info-2">
                        <h1>Safe Decorative Cosmetics</h1>
                        <p>In Cosmetics, We Use Dyes Of Vegetables & Origin</p>
                    </div>
                    <div class="info info-3">
                        <h1>A Product That Suits You</h1>
                        <p>Product That Actually Help To clear & Glowing Skin</p>
                    </div>
                </div>
            </div>
        </div>

          <div class="sections">
            <div class="cosmetic">
                    <div class="img-sec">
                        <img src="../../static/images/home/cosmetic img.jpg" alt="">
                    </div>
                    <h1>Cometics Related</h1>
                    <div class="cosmetic-info">
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Suggest A Cosmetic product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Get Effective Result's</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Suggest A Cosmetic product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>Get Effective Result's</p>
                    </div>
                    <button class="know-btn">Know More <span><img src="../../static/images/home/up-right-arrow.png" alt="">
                    </span></button>
            </div>
            <div class="skin-care">
                      <div class="img-sec">
                        <img src="../../static/images/home/skin-care img.webp " alt="">
                    </div>
                    <h1>Skin-Care Related</h1>
                    <div class="cosmetic-info">
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Suggest A Skin-Problem related product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Get Effective Result's</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Suggest A Skin-Problem related product</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Go Through Quiz</p>
                        <p><span><img src="../../static/images/home/checkmark.png" alt=""></span>  Get Effective Result's</p>
                    </div>

                    <button class="know-btn">Know More <span><img src="../../static/images/home/up-right-arrow.png" alt=""></span></button>
            </div>
        </div>

         <!-- <div class="product-sec">  
          
        </div> -->


        <div class="product-grid">
    <div class="product-card" data-category="hydrating" data-price="350">
      <img src="../../static/images/skincare/facewash/product-14.webp" alt="Hydrating Facewash">
      <h3>Hydrating Facewash</h3>
      <p>Category: Hydrating</p>
      <p class="price">₹350</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn ">Buy Now</button>
      </div>
    </div>

    <div class="product-card" data-category="organic" data-price="450">
      <img src="../../static/images/skincare/facewash/product-9.avif" alt="Organic Facewash">
      <h3>Organic Aloe Facewash</h3>
      <p>Category: Organic</p>
      <p class="price">₹450</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>

    <div class="product-card" data-category="charcoal" data-price="300">
      <img src="../../static/images/skincare/facewash/product-15.jpg" alt="Charcoal Facewash">
      <h3>Charcoal Deep Clean</h3>
      <p>Category: Charcoal</p>
      <p class="price">₹300</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>

    <div class="product-card" data-category="herbal" data-price="294">
      <img src="../../static/images/skincare/facewash/product-3.webp" alt="Herbal Facewash">
      <h3>Herbal Neem Facewash</h3>
      <p>Category: Herbal</p>
      <p class="price">₹294</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>

    <div class="product-card" data-category="hydrating" data-price="400">
      <img src="../../static/images/skincare/facewash/product-7.jpg" alt="Vitamin C Facewash">
      <h3>Vitamin C Facewash</h3>
      <p>Category: Hydrating</p>
      <p class="price">₹345</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>
    <div class="product-card" data-category="organic" data-price="400">
      <img src="../../static/images/skincare/facewash/product-16.webp" alt="Refreshing Face Wash ">
      <h3>Refreshing Face Wash</h3>
      <p>Category: Organic</p>
      <p class="price">₹378</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>
     <div class="product-card" data-category="hydrating" data-price="400">
      <img src="../../static/images/skincare/facewash/product-17.webp" alt="Refreshing Face Wash ">
      <h3> Nivea Refreshing Face Wash</h3>
      <p>Category: Hydrating</p>
      <p class="price">₹420</p>
      <div class="button-group">
        <button class="btn">Add to Cart</button>
        <button class="btn">Buy Now</button>
      </div>
    </div>

        </div>




        <div class="footer">
            <div class="left-footer">
                <div class="footer-logo">
                   <img src="../../static/images/home/logo.png" alt="">
                </div>
                <div class="logo-tag">
                    <a href="#"><img src="./icons/instagram.png" alt=""></a>
                    <a href="#"><img src="./icons/linkedin.png" alt=""></a>
                    <a href="#"><img src="./icons/twitter.png" alt=""></a>
                </div>
            </div>
            <div class="right-footer">
                <div class="about-contact">
                    <div class="company">
                        <h2>Company</h2>
                        <a href="#">About-Us <br></a>
                        <a href="#">Support <br></a>
                        <a href="#">Privecy Policy <br></a>
                        <a href="#">Terms & Condition <br></a>
                    </div>
                    <div class="Get-In-Touch">
                        <h2>Get-In-Touch</h2>
                        <a href="#">+91-643781289 <br></a>
                        <a href="#">+91-6516316231631 <br></a>
                        <a href="#">@CosmeCure.gmail.com <br></a>
                    </div>
                    <div class="Team">
                        <h2>Team</h2>
                            <a href="#">•Dimple Ghormode :- Leader <br></a>
                            <a href="#">•Mahim :- Co-Leader <br></a>
                            <a href="#">•Nomesh Shahare :- Founder <br></a>
                            <a href="#">•Shrilesh Dhobale :- co-Founder<br></a>
                            <a href="#">•Ayush .R. Choudhari :- Ceo Of Company <br></a>
                            <a href="#">•Piyush Ujgaokar :- Employee <br></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="../../static/js/profile system/profileSystem.js"></script>
</body>
</html>
