<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/facewash/product-11.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Ahaglow's Foaming Face Wash</h1>
      <p class="company"><span>Company:-</span> Ahaglow's</p>
      <p class="description">
        <span class="des">Description:- </span>
Ahaglow S Foaming Face Wash is a dermatologically recommended cleanser formulated for effective skin exfoliation and rejuvenation. It is powered by Glycolic Acid (AHA), which works on the skin's surface to remove dead cells, reduce pigmentation, and improve overall texture. The formula is also enriched with Salicylic Acid (BHA), which penetrates deep into pores to clear out excess oil and prevent acne breakouts. Its convenient pump creates a gentle, soap-free foam that cleanses thoroughly without stripping the skin's natural moisture. Ideal for oily and acne-prone skin, it helps in achieving a smoother, clearer, and more radiant complexion.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/facewash/product-11.webp" alt="Small 1"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
