<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/facewash/product-3.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Botique Fresh Neem</h1>
      <p class="company"><span>Company:-</span> Botique</p>
      <p class="description">
        <span class="des">Description:- </span>
  Biotique Advanced Ayurveda Fresh Neem Face Wash is designed for effective pimple control. Its primary ingredient, neem, leverages its natural anti-bacterial properties to deeply cleanse the skin and prevent breakouts. The formula is further enriched with a blend of ashwagandha and kulanjan to nourish the skin and promote a healthy complexion. Based on an Ayurvedic recipe, it is infused with 100% pure botanical extracts for a natural cleansing experience. Suitable for all skin types, it helps you achieve clear, fresh, and pimple-free skin.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/facewash/product-3.webp" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/facewash/botique neem-1.webp" alt="Small 2"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
