<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/facewash/product-7.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Joy Vitamin-C Face Wash</h1>
      <p class="company"><span>Company:-</span> Joy</p>
      <p class="description">
        <span class="des">Description:- </span>
Experience a burst of freshness with the Joy Vitamin C Face Wash, a daily cleanser designed to revive dull skin. It is enriched with the natural goodness of Vitamin C, a powerful antioxidant that helps to brighten the skin and promote an even tone. This face wash gently cleanses away dirt, oil, and impurities, leaving your skin feeling clean and energized. As endorsed by Bollywood superstar Shah Rukh Khan, it is crafted to bring a healthy, natural glow to your face. Incorporate it into your daily routine for a visibly brighter, refreshed, and radiant complexion.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/facewash/product-7.jpg" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/facewash/joy vitamin c-1.jpg" alt="Small 2"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
