<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/facewash/product-2.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Mamaearth Charcoal Fash Wash</h1>
      <p class="company"><span>Company:-</span> Mamaearth</p>
      <p class="description">
        <span class="des">Description:- </span>
     This Mamaearth face wash is expertly crafted for effective oil control, making it ideal for oily skin types. It is enriched with the deep-cleansing properties of activated charcoal, which helps draw out impurities and toxins from the pores. The infusion of coffee provides gentle exfoliation, removing dead skin cells and reviving your skin's natural glow. Its hypoallergenic formula is free from harmful parabens and SLS, ensuring a gentle yet thorough cleanse. Use this daily to achieve a fresh, clear, and shine-free complexion.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/facewash/product-2.jpg" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/facewash/mamaearth Charcoal-1.jpg" alt="Small 2"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
