<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/facewash/product-9.avif" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Mamaearth Alovera Face Wash</h1>
      <p class="company"><span>Company:-</span> Mamaearth</p>
      <p class="description">
        <span class="des">Description:- </span>
Rediscover your skin's natural radiance with the Mamaearth Aloe Vera Face Wash, designed to give you a youthful glow. It is infused with the hydrating and soothing goodness of Aloe Vera, which gently cleanses and moisturizes the skin. The formula is uniquely enriched with Ashwagandha, a powerful antioxidant herb known in India for its rejuvenating properties that help fight signs of aging. As a brand that prioritizes safety, this face wash is dermatologically tested, paraben & SLS-free, and suitable for all skin types. Use it daily to wash away impurities and reveal a refreshed, supple, and visibly youthful complexion.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/facewash/mamaearth Alovera-3.avif" alt="Small 2"></div>
        <div><img src="../../../static/images/skincare/facewash/product-9.avif" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/facewash/mamaearth Alovera-1.webp" alt="Small 2"></div>
        <div><img src="../../../static/images/skincare/facewash/mamaearth Alovera-2.avif" alt="Small 2"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
