<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/facewash/product-1.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Nivea Gentel Face Wash</h1>
      <p class="company"><span>Company:-</span> Nivea</p>
      <p class="description">
        <span class="des">Description:- </span>
        A deeply nourishing face cream that hydrates your skin all day long. 
        Infused with natural aloe vera and vitamin E to keep your skin glowing 
        and refreshed.
        A deeply nourishing face cream that hydrates your skin all day long. 
        Infused with natural aloe vera and vitamin E to keep your skin glowing 
        and refreshed.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/facewash/product-1.webp" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/facewash/nivia_1.jpg" alt="Small 2"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
