<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/facewash/product-5.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Pond's Bright Beauty Face Wash</h1>
      <p class="company"><span>Company:-</span> Pond's</p>
      <p class="description">
        <span class="des">Description:- </span>
Pond's Bright Beauty Face Wash is expertly formulated to wash away dead skin cells and reveal your skin's natural radiance. Infused with the power of Vitamin B3+, it helps to brighten the complexion and reduce the appearance of dark spots. This daily cleanser lathers into a rich foam, deeply purifying the skin by removing dirt, oil, and impurities. It is clinically proven to give you a spot-less glow and a more even-toned look. Achieve soft, smooth, and visibly brighter skin with every wash for a luminous, healthy glow.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/facewash/product-5.jpg" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/facewash/ponds Bright Beauty-1.jpg" alt="Small 2"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
