<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/facewash/product-10.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Terri Tea Tree Face Wash</h1>
      <p class="company"><span>Company:-</span> Terri</p>
      <p class="description">
        <span class="des">Description:- </span>
Combat stubborn acne and achieve clear skin with the Terrai Tea Tree & Peppermint Anti Acne Face Wash. This potent formula is powered by a triple-action blend: Tea Tree oil fights acne-causing bacteria, Salicylic Acid deeply exfoliates pores, and Peppermint provides a cooling effect to soothe inflammation. It is designed not just to cleanse but also to soothe irritated skin, making it an excellent choice for acne-prone complexions. As an AYUSH-approved product, this face wash is also free from SLES & parabens and is not tested on animals, ensuring a safe and conscious choice. Use it daily to get a thoroughly cleansed, calm, and visibly clearer complexion.
      </p>


      <div class="small-images">
          <div><img src="../../../static/images/skincare/facewash/product-10.jpg" alt="Small 1"></div>
          <div><img src="../../../static/images/skincare/facewash/terri tea tree-1.webp" alt="Small 2"></div>
       

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
