<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/moisturizer/product-1.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Hydrating Facial Moisturizer</h1>
      <p class="company"><span>Company:-</span> Undry Clinic</p>
      <p class="description">
        <span class="des">Description:- </span>
        The Undry™ Clinic Hydrating Facial Moisturizer is a daily cream for dry 
        skin that combines long-lasting,
        non-greasy hydration with essential SPF 30+ sun protection. 
        Its nourishing formula with 3 essential ceramides, aloe vera, 
        and shea butter helps restore the skin's moisture barrier, 
        leaving your complexion feeling comfortable, soft, and shielded from the sun.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/moisturizer/product-1.jpg" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/moisturizer/undry-1.webp" alt="Small 2"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
