<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../../static/images/skincare/facewash/product-8.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Vince Turmeric Face Wash</h1>
      <p class="company"><span>Company:-</span> Vince</p>
      <p class="description">
        <span class="des">Description:- </span>
Vince Turmeric Face Wash is a natural formulation crafted to deliver its core promise of "Clear Skin, Clear Glow!" Harnessing the age-old power of turmeric (Haldi), this cleanser taps into traditional Indian skincare wisdom for a pure and effective cleanse. Its potent antiseptic and anti-inflammatory properties work to purify pores, combat acne-causing germs, and reduce blemishes. The natural brightening agents in turmeric also help to fade dark spots, resulting in a more even and radiant skin tone. Use it daily to achieve a visibly clearer, healthier, and luminous complexion that feels fresh and revitalized.
      </p>


      <div class="small-images">
        <div><img src="../../../static/images/skincare/facewash/product-8.webp" alt="Small 1"></div>
        <div><img src="../../../static/images/skincare/facewash/vince turmeric-1.webp" alt="Small 2"></div>
        <div><img src="../../../static/images/skincare/facewash/vince turmeric-2.jpg" alt="Small 2"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
