<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy now</title>
    <link rel="stylesheet" href="buynow.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="checkout-form">
            <header class="form-header">
                <h1 class="logo">CosmeCure</h1>
                <p class="breadcrumb">Cart > Information > Shipping > <strong>Payment</strong></p>
                <h2>Your Personalized Curation is Almost Yours!</h2>
                <p>Have an account? <a href="#">Log In</a></p>
            </header>
        </div>
    </div>
    
</body>
</html>