<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Luminous Look Cosmetics</title>
    <link rel="stylesheet" href=".././../static/css/cosmetics/Luminous.css">
</head>
<body>

     <header class="navbar">
        <div class="logo">
            <h1>Glam Look</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#" class="nav-link active" data-category="all">All Products</a></li>
                <li><a href="#" class="nav-link" data-category="foundation">Foundation</a></li>
                <li><a href="#" class="nav-link" data-category="eyemakeup">Eye Makeup</a></li>
                <li><a href="#" class="nav-link" data-category="lipstick">Lipstick</a></li>
            </ul>
        </nav>
        
        <div class="controls">
            <input type="text" id="searchInput" placeholder="Search products...">
            <select id="sortSelect">
                <option value="default">Sort By</option>
                <option value="a-z">Name (A-Z)</option>
                <option value="z-a">Name (Z-A)</option>
                <option value="price-asc">Price (Low to High)</option>
            </select>
        </div>
    </header>

    <main>
        <h2 class="glam-heading">For your **Luminous Look** ✨</h2>

        <div class="product-grid" id="productGrid">
            
            <div class="product-card" data-category="foundation" data-name="Aero Matte Foundation" data-price="900">
                <img src="../.././static/images/cosmetics/Luminous/ace of face dewy foundation.jpg" alt="Aero Matte Foundation">
                <h3>Ace of Face Dewy Foundation</h3><p>FOUNDATION</p><p>₹ 900</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Velvet Glow Foundation" data-price="1200">
                <img src="../.././static/images/cosmetics/Luminous/L'Oreal Paris Foundation.webp" alt="Velvet Glow Foundation">
                <h3>L’Oréal Paris Serum Foundation</h3><p>FOUNDATION</p><p>₹ 749</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Hydra Dew Foundation" data-price="750">
                <img src="../.././static/images/cosmetics/Luminous/Daily Life Forever52 Ultra Definition Liquid Foundation.webp" alt="Hydra Dew Foundation">
                <h3>Daily Life Forever52 Ultra Definition Liquid Foundation</h3><p>FOUNDATION</p><p>₹ 750</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Silk Finish Foundation" data-price="1500">
                <img src="../.././static/images/cosmetics/Luminous/jovees herbal silk foundation.webp" alt="Silk Finish Foundation">
                <h3>Jovees Herbal Silk Creamy Foundation</h3><p>FOUNDATION</p><p>₹ 276</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Daily Wear Foundation" data-price="550">
                <img src="../.././static/images/cosmetics/Luminous/Seven Seas Radiance Foundation.jpg" alt="Daily Wear Foundation">
                <h3>Seven Seas Radiance Foundation </h3><p>FOUNDATION</p><p>₹ 223</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Cover Max Foundation" data-price="1800">
                <img src="../.././static/images/cosmetics/Luminous/Dream Beauty Celestial Glow Foundation.webp" alt="Cover Max Foundation">
                <h3>Dream Beauty Celestial Glow Foundation</h3><p>FOUNDATION</p><p>₹ 899</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Lightweight Foundation" data-price="650">
                <img src="../.././static/images/cosmetics/Luminous/Gege Bear Radiant Moisturizing Soft Liquid Foundation.webp" alt="Lightweight Foundation">
                <h3>Gege Bear Radiant Moisturizing Soft Liquid Foundation </h3><p>FOUNDATION</p><p>₹ 399</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Studio Finish Foundation" data-price="1100">
                <img src="../.././static/images/cosmetics/Luminous/RENEE Bollywood Filter Blurring Matte Finish Liquid Foundation.webp" alt="Studio Finish Foundation">
                <h3>RENEE Bollywood Filter Blurring Matte Finish Liquid Foundation</h3><p>FOUNDATION</p><p>₹ 525</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Flawless Base Foundation" data-price="850">
                <img src="../.././static/images/cosmetics/Luminous/Gege Bear Silky Soft Air Cushion.webp" alt="Flawless Base Foundation">
                <h3>Gege Bear Silky Soft Air Cushion</h3><p>FOUNDATION</p><p>₹ 499</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Airbrush Foundation" data-price="1600">
                <img src="../.././static/images/cosmetics/Luminous/Swiss Beauty Airbrush Finish Foundation.jpg" alt="Airbrush Foundation">
                <h3>Swiss Beauty Airbrush Finish Foundation</h3><p>FOUNDATION</p><p>₹ 407</p><button>Buy Now</button><button>Add to Cart</button>
            </div>


            <div class="product-card" data-category="eyemakeup" data-name="Zest Volume Mascara" data-price="400">
                <img src="../.././static/images/cosmetics/Luminous/MARS Metallic Liquid Glitter Eyeshadow.jpg" alt="Zest Volume Mascara">
                <h3>MARS Metallic Liquid Glitter Eyeshadow</h3><p>EYEMAKEUP</p><p>₹ 249</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Waterproof Liner Pen" data-price="600">
                <img src="../.././static/images/cosmetics/Luminous/MARS Starlit Pot Eyeshadow.jpg" alt="Waterproof Liner Pen">
                <h3>MARS Starlit Pot Eyeshadow</h3><p>EYEMAKEUP</p><p>₹ 399</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Nude Eye Shadow Palette" data-price="850">
                <img src="../.././static/images/cosmetics/Luminous/Liquid Eyeshadow Dual Shade.jpg" alt="Nude Eye Shadow Palette">
                <h3>Liquid Eyeshadow Dual Shade</h3><p>EYEMAKEUP</p><p>₹ 523</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Eyebrow Definer Kit" data-price="350">
                <img src="../.././static/images/cosmetics/Luminous/Colorbar I-Glide Eye Pencil.jpg" alt="Eyebrow Definer Kit">
                <h3>Colorbar I-Glide Eye Pencil</h3><p>EYEMAKEUP</p><p>₹ 695</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Glitter Eye Top Coat" data-price="700">
                <img src="../.././static/images/cosmetics/Luminous/RENEE Holographic Eyeliner.jpg" alt="Glitter Eye Top Coat">
                <h3>RENEE Holographic Eyeliner</h3><p>EYEMAKEUP</p><p>₹ 399</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Liquid Eyeliner" data-price="500">
                <img src="../.././static/images/cosmetics/Luminous/Gege Bear Single Color Eyeshadow.jpg" alt="Liquid Eyeliner">
                <h3>Gege Bear Single Color Eyeshadow</h3><p>EYEMAKEUP</p><p>₹ 299</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Smoky Eyes Kit" data-price="1050">
                <img src="../.././static/images/cosmetics/Luminous/Maybelline New York Mascara.jpg" alt="Smoky Eyes Kit">
                <h3>Maybelline New York Mascara</h3><p>EYEMAKEUP</p><p>₹ 257</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Colored Mascara" data-price="450">
                <img src="../.././static/images/cosmetics/Luminous/L’Oreal Paris Voluminous Panorama.webp" alt="Colored Mascara">
                <h3>L’Oreal Paris Voluminous Panorama</h3><p>EYEMAKEUP</p><p>₹ 795</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Lash Primer" data-price="300">
                <img src="../.././static/images/cosmetics/Luminous/LoveChild Masaba Kajal Pencil.jpg" alt="Lash Primer">
                <h3>LoveChild Masaba Kajal Pencil</h3><p>EYEMAKEUP</p><p>₹ 368</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Glimmer Shadow Stick" data-price="550">
                <img src="../.././static/images/cosmetics/Luminous/SANSH MACC Prep + Prime Fix Makeup Setting Spray.jpg" alt="Glimmer Shadow Stick">
                <h3>SANSH MACC Prep + Prime Fix Makeup Setting Spray</h3><p>EYEMAKEUP</p><p>₹ 628</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            
            <div class="product-card" data-category="lipstick" data-name="Scarlet Red Lipstick" data-price="650">
                <img src="../.././static/images/cosmetics/Luminous/Swiss Beauty Pure Lustre Lipstick.jpg" alt="Scarlet Red Lipstick">
                <h3>Swiss Beauty Pure Lustre Lipstick</h3><p>LIPSTICK</p><p>₹ 314</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Nude Peach Liquid Lip" data-price="500">
                <img src="../.././static/images/cosmetics/Luminous/e.l.f. Lip Lacquer Ultra-Shine Lip Gloss.jpg" alt="Nude Peach Liquid Lip">
                <h3>e.l.f. Lip Lacquer Ultra-Shine Lip Gloss</h3><p>LIPSTICK</p><p>₹ 500</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Berry Blast Gloss" data-price="350">
                <img src="../.././static/images/cosmetics/Luminous/Mamaearth Beetroot Moisture Therapy Lip Balm.jpg" alt="Berry Blast Gloss">
                <h3>Mamaearth Beetroot Moisture Therapy Lip Balm</h3><p>LIPSTICK</p><p>₹ 269</p><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Matte Pink Crayon" data-price="450">
                <img src="../.././static/images/cosmetics/Luminous/L’Oréal Paris Color Riche Satin Lipstick.jpg" alt="Matte Pink Crayon">
                <h3>L’Oréal Paris Color Riche Satin Lipstick</h3><p>LIPSTICK</p><p>₹ 577</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Coral Dream Lip Stain" data-price="750">
                <img src="../.././static/images/cosmetics/Luminous/Maybelline New York Smooth And Non-sticky Lifter Gloss.jpg" alt="Coral Dream Lip Stain">
                <h3>Maybelline New York Smooth And Non-sticky Lifter Gloss</h3><p>LIPSTICK</p><p>₹ 730</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Moisturizing Lip Balm" data-price="250">
                <img src="../.././static/images/cosmetics/Luminous/Korean Jelly Transparent Glow Oil Lip Gloss.jpg" alt="Moisturizing Lip Balm">
                <h3>Korean Jelly Transparent Glow Oil Lip Gloss</h3><p>LIPSTICK</p><p>₹ 199</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Deep Plum Matte" data-price="580">
                <img src="../.././static/images/cosmetics/Luminous/Bsimone Sheer Shine Lip Gloss.jpg" alt="Deep Plum Matte">
                <h3>Bsimone Sheer Shine Lip Gloss</h3><p>LIPSTICK</p><p>₹ 249</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Velvet Brown Lip" data-price="620">
                <img src="../.././static/images/cosmetics/Luminous/SUGAR Velvet Matte Finish.jpg" alt="Velvet Brown Lip">
                <h3>SUGAR Velvet Matte Finish</h3><p>LIPSTICK</p><p>₹ 439</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Longwear Liquid Lip" data-price="800">
                <img src="../.././static/images/cosmetics/Luminous/The Nudes Rouge Shine Lipstick.jpg" alt="Longwear Liquid Lip">
                <h3>The Nudes Rouge Shine Lipstick</h3><p>LIPSTICK</p><p>₹ 429</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Bright Orange Lipstick" data-price="420">
                <img src="../.././static/images/cosmetics/Luminous/Swiss Beauty Plump-Up Wet Gloss.jpg" alt="Bright Orange Lipstick">
                <h3>Swiss Beauty Plump-Up Wet</h3><p>LIPSTICK</p><p>₹ 237</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            
            </div>
    </main>

    <script src=".././../static/js/cosmetics/Luminous.js"></script>
</body>
</html>