<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Look Cosmetics</title>
    <link rel="stylesheet" href=".././../static/css/cosmetics/Natural.css">
</head>
<body>

     <header class="navbar">
        <div class="logo">
            <h1>Glam Look</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#" class="nav-link active" data-category="all">All Products</a></li>
                <li><a href="#" class="nav-link" data-category="foundation">Foundation</a></li>
                <li><a href="#" class="nav-link" data-category="eyemakeup">Eye Makeup</a></li>
                <li><a href="#" class="nav-link" data-category="lipstick">Lipstick</a></li>
            </ul>
        </nav>
        
        <div class="controls">
            <input type="text" id="searchInput" placeholder="Search products...">
            <select id="sortSelect">
                <option value="default">Sort By</option>
                <option value="a-z">Name (A-Z)</option>
                <option value="z-a">Name (Z-A)</option>
                <option value="price-asc">Price (Low to High)</option>
            </select>
        </div>
    </header>

    <main>
        <h2 class="glam-heading">For your **Natural Look** ✨</h2>

        <div class="product-grid" id="productGrid">
            
            <div class="product-card" data-category="foundation" data-name="Aero Matte Foundation" data-price="900">
                <img src="../.././static/images/cosmetics/natural/Dream Beauty Celestial Glow Foundation.jpg" alt="Aero Matte Foundation">
                <h3>Dream Beauty Celestial Glow Foundation</h3><p>FOUNDATION</p><p>₹ 899</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Velvet Glow Foundation" data-price="1200">
                <img src="../.././static/images/cosmetics/natural/Mamaearth Glow Serum Medium Foundation.jpg" alt="Velvet Glow Foundation">
                <h3>Mamaearth Glow Serum Medium Foundation</h3><p>FOUNDATION</p><p>₹ 526</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Hydra Dew Foundation" data-price="750">
                <img src="../.././static/images/cosmetics/natural/RENEE Lumi Glow Highlighting Liquid Foundation.jpg" alt="Hydra Dew Foundation">
                <h3>RENEE Lumi Glow Highlighting Liquid Foundation</h3><p>FOUNDATION</p><p>₹ 615</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Silk Finish Foundation" data-price="1500">
                <img src="../.././static/images/cosmetics/natural/Maybelline New York Liquid Foundation.webp" alt="Silk Finish Foundation">
                <h3>Maybelline New York Liquid Foundation</h3><p>FOUNDATION</p><p>₹ 180</p><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Daily Wear Foundation" data-price="550">
                <img src="../.././static/images/cosmetics/natural/Barva 2 in 1 Cream Semi-Matte Foundation.jpg" alt="Daily Wear Foundation">
                <h3>Barva 2 in 1 Cream Semi-Matte Foundation</h3><p>FOUNDATION</p><p>₹ 360</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Cover Max Foundation" data-price="1800">
                <img src="../.././static/images/cosmetics/natural/Lakme Xtraordin-airy Mattereal Mousse Foundation.webp" alt="Cover Max Foundation">
                <h3>Lakme Xtraordin-airy Mattereal Mousse Foundation</h3><p>FOUNDATION</p><p>₹ 499</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Lightweight Foundation" data-price="650">
                <img src="../.././static/images/cosmetics/natural/Swiss Beauty High Performance Foundation.jpg" alt="Lightweight Foundation">
                <h3>Swiss Beauty High Performance Foundation</h3><p>FOUNDATION</p><p>₹ 329</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Studio Finish Foundation" data-price="1100">
                <img src="../.././static/images/cosmetics/natural/MATT LOOK Zero Pore Oil Control Full Coverage Foundation.jpg" alt="Studio Finish Foundation">
                <h3>MATT LOOK Zero Pore Oil Control Full Coverage Foundation</h3><p>FOUNDATION</p><p>₹ 299</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Flawless Base Foundation" data-price="850">
                <img src="../.././static/images/cosmetics/natural/ME-ON Photoface HD Matte Eyeliner.jpg" alt="Flawless Base Foundation">
                <h3>ME-ON BB Foundation for Women</h3><p>FOUNDATION</p><p>₹ 359</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="foundation" data-name="Airbrush Foundation" data-price="1600">
                <img src="../.././static/images/cosmetics/natural/FLiCKA Flawless Femme Liquid Foundation.jpg" alt="Airbrush Foundation">
                <h3>FLiCKA Flawless Femme Liquid Foundation</h3><p>FOUNDATION</p><p>₹ 781</p><button>Buy Now</button><button>Add to Cart</button>
            </div>


            <div class="product-card" data-category="eyemakeup" data-name="Zest Volume Mascara" data-price="400">
                <img src="../.././static/images/cosmetics/natural/RENEE Midnight Mascara.jpg" alt="Zest Volume Mascara">
                <h3>RENEE Midnight Mascara</h3><p>EYEMAKEUP</p><p>₹ 425</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Waterproof Liner Pen" data-price="600">
                <img src="../.././static/images/cosmetics/natural/RevitaLash Brow Gel Variation.jpg" alt="Waterproof Liner Pen">
                <h3>RevitaLash Brow Gel Variation</h3><p>EYEMAKEUP</p><p>₹ 2119</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Nude Eye Shadow Palette" data-price="850">
                <img src="../.././static/images/cosmetics/natural/Promore Eyeshadow Paint.jpg" alt="Nude Eye Shadow Palette">
                <h3>Promore Eyeshadow Paint</h3><p>EYEMAKEUP</p><p>₹ 349</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Eyebrow Definer Kit" data-price="350">
                <img src="../.././static/images/cosmetics/natural/INSIGHT Duo Eyeshadow Stick- Minted & Aurora.jpg" alt="Eyebrow Definer Kit">
                <h3>INSIGHT Duo Eyeshadow Stick- Minted & Aurora</h3><p>EYEMAKEUP</p><p>₹ 269</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Glitter Eye Top Coat" data-price="700">
                <img src="../.././static/images/cosmetics/natural/MARS 12 Shades Back to Basics Eyeshadow Palette.jpg" alt="Glitter Eye Top Coat">
                <h3>MARS 12 Shades Back to Basics Eyeshadow Palette</h3><p>EYEMAKEUP</p><p>₹ 259</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Liquid Eyeliner" data-price="500">
                <img src="../.././static/images/cosmetics/natural/LAKMÉ Powder 9 In 1 Eyeshadow Blushbloom.webp" alt="Liquid Eyeliner">
                <h3>LAKMÉ Powder 9 In 1 Eyeshadow Blushbloom</h3><p>EYEMAKEUP</p><p>₹ 400</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Smoky Eyes Kit" data-price="1050">
                <img src="../.././static/images/cosmetics/natural/Glamveda Liquid Eye Liner.jpg" alt="Smoky Eyes Kit">
                <h3>Glamveda Liquid Eye Liner</h3><p>EYEMAKEUP</p><p>₹ 195</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Colored Mascara" data-price="450">
                <img src="../.././static/images/cosmetics/natural/ME-ON Photoface HD Matte Eyeliner.jpg" alt="Colored Mascara">
                <h3>ME-ON Photoface HD Matte Eyeliner</h3><p>EYEMAKEUP</p><p>₹ 299</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Lash Primer" data-price="300">
                <img src="../.././static/images/cosmetics/natural/Gleva Eyeshadow Stick.jpg" alt="Lash Primer">
                <h3>Gleva Eyeshadow Stick</h3><p>EYEMAKEUP</p><p>₹ 340</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="eyemakeup" data-name="Glimmer Shadow Stick" data-price="550">
                <img src="../.././static/images/cosmetics/natural/Swiss Beauty Lustre Eyeshadow Palette.jpg" alt="Glimmer Shadow Stick">
                <h3>Swiss Beauty Lustre Eyeshadow Palette</h3><p>EYEMAKEUP</p><p>₹ 189</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            
            <div class="product-card" data-category="lipstick" data-name="Scarlet Red Lipstick" data-price="650">
                <img src="../.././static/images/cosmetics/natural/HYUE Velvet Kiss Matte Bullet Lipstick.jpg" alt="Scarlet Red Lipstick">
                <h3>HYUE Velvet Kiss Matte Bullet Lipstick</h3><p>LIPSTICK</p><p>₹ 1099</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Nude Peach Liquid Lip" data-price="500">
                <img src="../.././static/images/cosmetics/natural/L'Oréal Paris Infallible Laque Resistance Lacquer.webp" alt="Nude Peach Liquid Lip">
                <h3>L'Oréal Paris Infallible Laque Resistance Lacquer Lipstiick</h3><p>LIPSTICK</p><p>₹ 699</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Berry Blast Gloss" data-price="350">
                <img src="../.././static/images/cosmetics/natural/SIMPLYNAM Satin Soft Lip Crème.webp" alt="Berry Blast Gloss">
                <h3>SIMPLYNAM Satin Soft Lip Crème</h3><p>LIPSTICK</p><p>₹ 879</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Matte Pink Crayon" data-price="450">
                <img src="../.././static/images/cosmetics/natural/Glam21 Jelly Pop fruity gel lipstick.webp" alt="Matte Pink Crayon">
                <h3>Glam21 Jelly Pop fruity gel lipstick</h3><p>LIPSTICK</p><p>₹ 159</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Coral Dream Lip Stain" data-price="750">
                <img src="../.././static/images/cosmetics/natural/Maybelline New York Super Stay Teddy Tint.jpg" alt="Coral Dream Lip Stain">
                <h3>Maybelline New York Super Stay Teddy Tint</h3><p>LIPSTICK</p><p>₹ 494</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Moisturizing Lip Balm" data-price="250">
                <img src="../.././static/images/cosmetics/natural/RENEE H2O Hydrating Liquid Lipstick.jpg" alt="Moisturizing Lip Balm">
                <h3>RENEE H2O Hydrating Liquid Lipstick</h3><p>LIPSTICK</p><p>₹ 525</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Deep Plum Matte" data-price="580">
                <img src="../.././static/images/cosmetics/natural/Matt Pink Blush.jpg" alt="Deep Plum Matte">
                <h3>Matt Pink Blush</h3><p>LIPSTICK</p><p>₹ 159</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Velvet Brown Lip" data-price="620">
                <img src="../.././static/images/cosmetics/natural/MARS Creamy Matte Long Lasting Lipstick.jpg" alt="Velvet Brown Lip">
                <h3>MARS Creamy Matte Long Lasting Lipstick</h3><p>LIPSTICK</p><p>₹ 180</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Longwear Liquid Lip" data-price="800">
                <img src="../.././static/images/cosmetics/natural/Just Herbs Ayurvedic Creamy Matte Lipstick.jpg" alt="Longwear Liquid Lip">
                <h3>Just Herbs Ayurvedic Creamy Matte Lipstick</h3><p>LIPSTICK</p><p>₹ 342</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            <div class="product-card" data-category="lipstick" data-name="Bright Orange Lipstick" data-price="420">
                <img src="../.././static/images/cosmetics/natural/FACESCANADA Comfy Matte Wow Liquid Lipstick.jpg" alt="Bright Orange Lipstick">
                <h3>FACESCANADA Comfy Matte Wow Liquid Lipstick</h3><p>LIPSTICK</p><p>₹ 239</p><button>Buy Now</button><button>Add to Cart</button>
            </div>
            
            </div>
    </main>

    <script src=".././../static/js/cosmetics/Natural.js"></script>
</body>
</html>