<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../static/images/skincare/sunscreen/product-1.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Hydrating Sunscreen</h1>
      <p class="company"><span>Company:-</span> Bellavita</p>
      <p class="description">
        <span class="des">Description:- </span>
        Bella Vita's Hydrating Sunscreen is a high-protection formula 
        offering broad-spectrum SPF 50 PA++++, suitable for all skin types. 
        It is specifically designed to be water and sweat-resistant while leaving 
        no white cast, making it ideal for hot and humid climates. Enriched with 
        hydrating agents like Aloe Vera, Glycerin, and Vitamin E, this sunscreen 
        simultaneously moisturizes the skin while shielding it from sun damage.
      </p>

      <div class="small-images">
        <div><img src="../../static/images/skincare/sunscreen/product-1.webp" alt="Small 1"></div>
        <div><img src="../../static/images/skincare/sunscreen/bellavita-1.jpg" alt="Small 2"></div>
        <div><img src="../../static/images/skincare/sunscreen/belavita-2.jpg" alt="Small 3"></div>
        <div><img src="../../static/images/skincare/sunscreen/bellavita-3.jpg" alt="Small 4"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
