<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../static/images/skincare/moisturizer/product-3.webp" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Night Repair Cream</h1>
      <p class="company"><span>Company:-</span> Heavenly Home</p>
      <p class="description">
        <span class="des">Description:- </span>
        This Heavenly Home Night Repair Cream is an overnight treatment
        designed to rejuvenate and restore the skin as you sleep. 
        Formulated with traditional, natural ingredients like Kumkumadi Tailam and Moringa,
        it works to repair cellular damage and provide deep nourishment. 
        The cream aims to reveal a more refreshed, revitalized, and healthy complexion by morning.
      </p>


      <div class="small-images">
        <div><img src="../../static/images/skincare/moisturizer/product-3.webp" alt="Small 1"></div>
        <div><img src="../../static/images/skincare/moisturizer/Night-repair-cream-1.webp" alt="Small 2"></div>
        <div><img src="../../static/images/skincare/moisturizer/Night-Repair-cream-2.webp" alt="Small 3"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
