<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../static/images/skincare/sunscreen/product-6.jpg" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Sunscreen Cream Indian Summer formula</h1>
      <p class="company"><span>Company:-</span> Lotus Herbals</p>
      <p class="description">
        <span class="des">Description:- </span>
        This Lotus Herbals Safe Sun cream is a daily protective moisturizer 
        specifically created with an "Indian Summer Formula" to suit the local climate. 
        It provides SPF 30 PA++ protection to help prevent tanning, while its non-greasy, 
        sweat-resistant texture is ideal for the heat in Nagpur. 
        Enriched with Plum and Grape Seed extracts, 
        this dermatologically tested cream is suitable for all skin types.
      </p>


      <div class="small-images">
        <div><img src="../../static/images/skincare/sunscreen/product-6.jpg" alt="Small 1"></div>
        <div><img src="../../static/images/skincare/sunscreen/lotus-1.jpg" alt="Small 2"></div>
        <div><img src="../../static/images/skincare/sunscreen/lotus-2.jpg" alt="Small 3"></div>
        <div><img src="../../static/images/skincare/sunscreen/lotus-3.jpg" alt="Small 4"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
