<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Care Product Card</title>
  <link rel="stylesheet" href="../../static/css/product details/productDetails.css">
</head>
<body>
  <div class="product-card">
 
    <div class="product-image">
      <img src="../../static/images/skincare/moisturizer/product-5.avif" alt="Skin Care Product">
    </div>

    <div class="product-details">
      <h1>Aloe Vera Gel</h1>
      <p class="company"><span>Company:-</span> Mama Earth</p>
      <p class="description">
        <span class="des">Description:- </span>
        This Mamaearth Aloe Vera Gel Face Moisturizer is a lightweight, 
        hydrating formula designed to give the skin a youthful glow. 
        It uniquely blends the soothing and moisturizing properties of 
        Aloe Vera with the powerful antioxidant benefits of Ashwagandha. 
        This fast-absorbing gel works to refresh and rejuvenate the skin,
        leaving it feeling soft and radiant without any greasiness.
      </p>


      <div class="small-images">
        <div><img src="../../static/images/skincare/moisturizer/product-5.avif" alt="Small 1"></div>
        <div><img src="../../static/images/skincare/moisturizer/mama earth-4.webp" alt="Small 2"></div>
        <div><img src="../../static/images/skincare/moisturizer/mama earth-2.jpg" alt="Small 3"></div>
        <div><img src="../../static/images/skincare/moisturizer/mama earth-3.jpg" alt="Small 4"></div>

      </div>

      <div class="rating" id="rating">
        <span data-value="1">&#9733;</span>
        <span data-value="2">&#9733;</span>
        <span data-value="3">&#9733;</span>
        <span data-value="4">&#9733;</span>
        <span data-value="5">&#9733;</span>
      </div>

      <div class="buttons">
        <button class="buy-btn">Buy Now</button>
        <button class="cart-btn">Add to Cart</button>
      </div>
    </div>
  </div>

  <script src="../../static/js/product Details/ProductDetails.js"></script>
</body>
</html>
