body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-image: url("../../cosmecure/static/images/login image/background.png");
  background-repeat: no-repeat;
  background-size:cover;
  object-fit: cover;
  color: #1F1F1F;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #f1ede7a2;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px #faf8f4;
  
  width: 350px;
  text-align: center;
  
}

.logo-sec {
  width: 120px;
  height: 120px;
  margin: 0 auto 18px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-sec img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 0;
  background: none;
}

.form-title {
  margin-bottom: 20px;
}
.form-title, #formTitle {
  color: #3d2513;
  font-size: 2 rem;
  font-weight: 200;
  font-weight: bold;
  text-shadow: 1px 2px #cbcbcb;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

input[type="text"],
input[type="password"],
input[type="phone number"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #faf8f4c1;
  border: 1px solid #ECE1CE;
  border-radius: 6px;
  font-size: 14px;
}

button {
  background-color: #3d2513;
  color: #faf8f4;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

button:hover {
  background-color: #20140a;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}

.checkbox input {
  margin-right: 8px;
}

p {
  margin-top: 15px;
  font-size: 14px;
  color: #FAF8F4;
}

a {
  color: #3D2513;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

