<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add to Cart</title>
  <link rel="stylesheet" href="../../static/css/profile System/addToCart.css">
</head>
<body>
    <div class="main">
        <div class="nav-bar">
               <div class="logo-sec">
                   <img src="../../static/images/home/logo_main.png" alt="">
               </div>
               <div class="part-1">
                   <a href="../profile system/profleSystem.html"><h3>Home</h3></a>
                   <h3>Products</h3>
                   <h3><a href="../aboutus/about.html">About us</a></h3>
                   <h3><a href="../aboutus/about.html">Contact us</a></h3>
               </div>
            <div class="part-2">
                 <div class="profile">
                           <a href="./profileInformation.html"><img src="../../static/images/home/girl img.png" alt=""></a>
                           <a href="./profileInformation.html"><p>Profile</p></a>
                    </div>
               </div>
           </div>
      <div class="cart-container">
        <h1>🛒 Your Cart</h1>
        <div id="cart-items"></div>
      </div>

    </div>

  <script src="../../static/js/profile system/addToCart.js"></script>
</body>
</html>
